.nextflow*
packrat/lib*/
packrat/src/
logs/*
outputs/*
GxP/plots/*
ressources/*
temp_files
data/*
!data/RADME.md
.Rproj.user
.Rhistory
.RData
.Ruserdata
output/*
PCA/*
GxP/*.gz
R/*pdf
GxP/
GxP/plots.zip
*.tmp
FST/*.gz
FST/vide/*
