1*
2*
3*
4*
5*
./LG*
images/*
NA*
slurm*
logs/*
outputs/*
output/*
annotations/*
temp_files/*
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
R/.DS_Store
R/.Rproj.user
R/.Rhistory
R/.RData
R/.Ruserdata
*.tmp
